<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Demos</title>
</head>
<body>
<div>
    <h1>Fine Uploader 5.16.2</h1>

    <a href="https://docs.fineuploader.com/quickstart/01-getting-started.html">Getting Started with Fine
        Uploader</a><br/>
    <a href="https://fineuploader.com/demos.html">Demos</a><br/><br/>

    <a href="{% url 'example_custom' %}">example custom layout</a><br/>
    <a href="{% url 'example_gallery' %}">example gallery layout</a><br/>
    <a href="{% url 'example_row' %}">example row-based layout</a><br/><br/>

    <a href="{% url 'oldhome' %}">old examples</a><br/>
</div>
</body>
</html>
